/* dialog */
.sl-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1111;
}
.sl-dialog.c-full-screen {
  z-index: 111;
}

.sl-dialog .c-inner {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 121;
}
.sl-dialog.c-full-screen .c-inner {
  width: 100%;
  max-width: 100%;
  z-index: 1121;
}

.sl-dialog .c-top {
  height: 48px;
  background: #fff;
}
.sl-dialog .c-top .c-button {
  height: 48px;
  padding: 0 16px;
}
.sl-dialog .c-top .c-button.c-icon {
  width: 48px;
  padding: 0;
  line-height: 48px;
  font-size: 16px;
  text-align: center;
}
.sl-dialog .c-top .c-button .c-icon,
.sl-dialog .c-top .c-button .c-text {
  margin-right: 2px;
  font-size: 16px;
  line-height: 16px;
  float: left;
}
.sl-dialog .c-top .c-button .c-text {
  margin-right: 0;
}

.sl-dialog .c-content {
  background: #f5f5f5;
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
}

.sl-dialog .c-mask {
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
